
html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #313a3d;
  width: 100%;
  margin: 40px auto;
  max-width: 600px;
  padding: 0 10px;
  line-height: 1.4;
}

h1,h2,h3 {line-height: 1.2}

header#banner {
  margin: 25px 0;
}

header#banner a {
  color: #313a3d;
  text-decoration: none;
}

header#banner a:hover {
  text-decoration: underline;
}

header#banner nav {
  display: inline-block;
}

header#banner h2 {
  display: inline;
  font-size: 21px;
  font-size: 2.2rem;
  margin: 0 8px 0 0;
}

header#banner nav ul {
  list-style-type: none;
  font-size: 1.1em;
  text-transform: lowercase;
  margin: 0;
  padding: 0;
}

header#banner nav ul li {
  display: inline;
  margin: 0 3px;
}

header#banner nav ul li a {
  color: #454545;
}

a {
  color: #348ae0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
